extends ../layouts/default

block content
	.container
		h1 <strong>Upload Code</strong>
		hr
		form(action='/api/media/create' method='post' class='post-form-ajax').form-horizontal
			input(type='hidden', name='action', value='upload')
			.form-group
				.col-sm-12
					textarea(name='sketch' placeholder='Enter HTML' style='font-family:monospace;' rows=24 required).form-control
			.form-group
				.col-sm-12
					button(type='submit').btn.btn-primary.btn-lg.btn-block Submit