node_modules
backend/CMakeFiles
backend/build
backend/main
backend/libserial.a
backend/CMakeCache.txt
backend/cmake_install.cmake
backend/Makefile
public/disks
.directory*
public/config.json
public/index.html
public/settings/index.html
config_gens