[submodule "src/thirdparty/json"]
	path = src/thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "src/thirdparty/serial"]
	path = src/thirdparty/serial
	url = https://github.com/wjwwood/serial.git
[submodule "src/thirdparty/cxxopts"]
	path = src/thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
