node_modules
backend/CMakeFiles
backend/build
backend/main
backend/libserial.a
backend/CMakeCache.txt
backend/cmake_install.cmake
backend/Makefile
public/media/*
!public/media/.default
.directory*
public/config.json
public/svelte-bundle.*
config_gens