[submodule "backend/thirdparty/json"]
	path = backend/thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "backend/thirdparty/serial"]
	path = backend/thirdparty/serial
	url = https://github.com/wjwwood/serial.git
[submodule "backend/thirdparty/cxxopts"]
	path = backend/thirdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "backend/thirdparty/websocketpp"]
	path = backend/thirdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "backend/thirdparty/pigpio"]
	path = backend/thirdparty/pigpio
	url = https://github.com/joan2937/pigpio.git
