node_modules
cpp/CMakeFiles
cpp/build
cpp/main
cpp/libserial.a
cpp/CMakeCache.txt
cpp/cmake_install.cmake
cpp/Makefile
public/media/*
!public/media/.default
.directory*
public/config.json
public/settings.json
public/svelte-bundle.*
config_gens