[Unit]
Description=Hyperion process
After=network.target

[Service]
ExecStart=/usr/bin/hyperiond /data/content/config-static/hyperion.config.json
Restart=always

[Install]
WantedBy=default.target
