[Unit]
Description=IPFS daemon
After=network.target

[Service]
ExecStart=/usr/bin/nice -n 10 /usr/bin/ipfs daemon --init --enable-pubsub-experiment --enable-gc
Restart=on-failure

[Install]
WantedBy=default.target
