[Unit]
Description=MongoDB server
After=network.target

[Service]
User=mongodb
ExecStart=/usr/bin/mongod
Restart=always

[Install]
WantedBy=default.target
