include ../mixins/flash-messages

doctype html
html

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Disks'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")
		link(href="/awesome-notifications/styles.css", rel="stylesheet")
		script(src="/awesome-notifications/index.var.js")

		block css

		block head

	body

		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') ☉ Disks
					.navbar-left
						if section == "media"
							ul(id='mediaTabs').nav.navbar-nav.navbar-left
								li.active
									a(data-toggle='tab' href='#preview') Preview
								li
									a(data-toggle='tab' href='#details') Details
						else
							form(action='/api/media/queue' method='post' class='post-form-ajax' role='search').navbar-form
								.input-group
									input(name='address' type='text', placeholder='Display URL' required).form-control
									.input-group-btn
										button(type='submit').btn.btn-default
											i.glyphicon.glyphicon-play-circle
				.collapse.navbar-collapse#navbar-collapse
					ul.nav.navbar-nav.navbar-right
						each link in navLinks
							li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
								if componentsDown.length > 0
									span(id='status-dot' style='height: 10px;  width: 10px;  border-radius: 50%;  display: inline-block; background-color:red')
								else
									span(id='status-dot' style='height: 10px;  width: 10px;  border-radius: 50%;  display: inline-block; background-color:green')
								| &thinsp; Status
								span.caret
							ul.dropdown-menu
								if componentsDown.length > 0
									li
										a <strong>Offline:</strong>
									each component in componentsDown
										li
											a=component
								if componentsOnline.length > 0
									li
										a <strong>Online:</strong>
									each component in componentsOnline
										li
											a=component
		#body
			block intro
			+flash-messages(messages)
			block content
		script(src='https://d3js.org/d3.v5.js')
		script(src='/js/jquery/jquery-2.1.4.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script.
			// add awesome-notifications obj
			var options = {
				icons: {enabled: false},
				labels: {
					tip: "Your custom tip box label"
				}
			}
			var notifier = new AWN(options);
			// space body away from navbar
			$('body')[0].style.paddingTop = $('.navbar').height() + 20 + 'px';
			$(function() {				
				// post form to server in background
				$('.post-form-ajax').submit(function(event){
					event.preventDefault();
					var post_url = $(this).attr('action');
					var request_method = $(this).attr('method');
					var form_data = $(this).serialize();
					$.ajax({
						url: post_url,
						type: request_method,
						data: form_data,
						error: function(result){
							console.log('ERROR: ' + JSON.stringify(result.responseJSON.error.note));
							notifier.alert(result.responseJSON.error.note);
						},
						success: function(result){
							console.log('SUCCESS: ' + JSON.stringify(result.note));
							notifier.success(result.note);
						}
					});

				})
			// brightness slider
			d3.select('#brightness-range').on("input", function(){
				// set brightness in background w/ ajax API call
				var url = '/api/leds/set-brightness/' + $(this).val();
				$.get(url);
				// change svg opacity
				d3.selectAll('svg')
					.transition()
					.duration(1000)
					.ease(d3.easeLinear)
					.style("opacity", d3.select('#brightness-range').property("value"));
			})
			// ajax button GET
			function apiGetButton(e) {
				//
				e.preventDefault();
				var url = $(this).attr('href');
				$.ajax({url: url, async: false,
					error: function(result){
							console.log('ERROR: ' + JSON.stringify(result.responseJSON.error.note));
							if(result.responseJSON.error.note){
								notifier.alert(result.responseJSON.error.note);
							}else{
								notifier.alert('unknown error');
							}
					},
					success: function(result){
							console.log('SUCCESS: ' + JSON.stringify(result.note));
							notifier.success(result.note);
					}
				});
			}
			$('.api-get-btn').click( apiGetButton );


			});
		.container: #footer
		block js
