#diskFeedContainer,
#diskChannelContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 100%;
    margin: auto;
    justify-content: center;
    align-content: start;
}

#indexContainer {
    padding: 16px;
}

.item {
    margin: 8px;
    text-align: center;
    position: relative;
}

.itemBtnDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.item[data-channel] button {
    font-size: 1.17em;
    padding: 0.5em;
}

.item[data-directory] button {
    opacity: 0;
    font-size: 1.17em;
    width: 100%;
    padding: 1em;
    margin: 1em 0em;
}

.item[data-directory]:hover button {
    opacity: 1;
}

.item[data-directory]:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
}

.item[data-directory]:hover::before {
    background-color: rgba(181, 188, 190, 0.5);
}

html {
    font-size: 16px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

.item[data-channel] {
    grid-column: 1 / -1;
    text-align: left;
    padding: 0px 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(181, 188, 190, 0.10);
}

.item[data-directory] {
    background-color: rgba(181, 188, 190, 0.95);
    color: black;
}

.item[data-directory]:hover {
    border-color: white;
}

.item img {
    display: block;
    margin: auto;
    width: 100%;
}

textarea {
    /* width: 95%; */
    margin: auto;
}

body {
    background: #202020;
    color: white;
    margin: 0px;
    font-family: sans-serif;
}

#outputGraphic {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-end;
}

#outputForm {
    flex-basis: 50%;
    flex-grow: 1;
}

.properties * {
    width: 100%;
}

#outputForm button,
#outputForm input[type="range"] {
    width: 100%;
}

.Navbar {
    background-color: white;
    display: flex;
    padding: 0px 8px;
    color: black;
    position: sticky;
    align-items: baseline;
}

.Navbar__Link {
    padding: 10px 32px;
    margin: 0px 20px;
}

.Navbar__Items .Navbar__Link.active,
.Navbar__Items .Navbar__Link:hover {
    background: #202020;
}

.Navbar__Link.active a,
.Navbar__Link:hover a {
    color: white;
}

.Navbar__Items {
    display: flex;
}

.Navbar__Items--right {
    margin-left: auto;
}

.Navbar__Link-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {

    .Navbar__Items,
    .Navbar {
        flex-direction: column;
    }

    .Navbar__Items {
        display: none;
    }

    .Navbar__Items--right {
        margin-left: 0;
    }

    .Navbar__ToggleShow {
        display: flex;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
    }
}

.NavBar input {
    height: 100%;
    color: black;
}

#urlInput {
    color: black;
    background-color: white;
    text-decoration: none;
    border: 10;
    border-radius: 1px;
    border-width: 2px;
    border-color: black;
    border-style: none none double none;
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
}

.Navbar__Link-brand {
    flex: 1;
}

.Navbar__Items--right {
    text-align: center;
}

.bottomNavigationMenu {
    background-color: white;
    display: flex;
    position: sticky;
    bottom: 16px;
    margin: 16px 16px;
    border: 5px solid white;
    color: black;
    justify-content: space-between;
    float: right;
    width: 350px;
}

.bottomNavigationMenu:hover {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.bottomNavigationMenu:hover .bottomMenuTextDiv {
    display: block;
}

.bottomNavigationMenu .bottomMenuTextDiv {
    display: none;
}

.bottomMenuTextDiv {
    padding: 0 32px;
    flex: 1;
    text-align: right;
}

.bottomMenuTextDiv button {
    font-size: 1em;
}

.bottomMenuTextDiv input {
    width: 100%;
}

#previewFrame {
    border: none;
    width: 350px;
    height: 350px;
}

nav :link,
nav :visited {
    color: black;
    text-decoration: none;
}

.item :link,
.item :visited {
    color: white;
    text-decoration: none;
}