<div class="item" data-channel="{{channel_name}}">
    <span>
        <p><b>{{channel_name}}</b> ({{count}})</p>
    </span>
    <span>
        <button class="autoplayButton">Play</button>
        {{#if create}}
        <button class="newDiskButton">New</button>
        {{else}}
        <button class="viewChannelButton">View</button>
        {{/if}}
    </span>
</div>