<div class="item" data-channel="{{channel_name}}">
    <span>
        <h1>
            <a href="/?page=channel&channel={{channel_name}}">{{channel_name}} (<u>{{count}}</u>)</a>
        </h1>
    </span>
    <span>
        <button class="autoplayButton">Play</button>
        {{#if create}}
        <button class="newDiskButton">New</button>
        {{/if}}
    </span>
</div>