<div class="item" data-directory="{{directory}}">
    <img src="{{{image}}}" />
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <button class="playDiskButton">Play</button>
    <button class="editDiskButton">Edit</button>
</div>