<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
        <input id="urlInput" type="search" placeholder="Enter URL to display">
    </div>
    <div class="Navbar__Link Navbar__Link-toggle">
        dot
    </div>
    <nav class="Navbar__Items">
        <div class="Navbar__Link">
            <h3>
                <a href="/">Feed</a>
            </h3>
        </div>
    </nav>
    <nav class="Navbar__Items Navbar__Items--right">
        <div class="Navbar__Link">
            <h3>
                <a href="/settings">Settings</a>
            </h3>
        </div>
    </nav>
</div>