<div class="item item-thin" data-channel="{{channel_name}}">
    <p><b>{{channel_name}}</b></p>
    <p>{{count}} items</p>
    <div class="itemBtnDiv">
        <button class="viewChannelButton">View</button>
    </div>
</div>